# This Pipfile is licensed under the Creative Commons Zero license
# CC0 1.0 Universal - Public Domain Dedication - No Rights Reserved
# To the extent possible under law, O. Libre <olibre@Lmap.org> has waived
# all copyright and related or neighboring rights this Pipfile file.
# Refer to CC0 Legal Code: https://creativecommons.org/publicdomain/zero/1.0/
# You can copy the this file for any purpose, you can remove this notice and you can even add your own copyright

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
aiohttp = ">=3.6.2"
pandas = "*"
requests = ">=2.18.4"
sortedcontainers = ">=1.5.9"
websockets = ">=7.0"
uvloop = {version = "*", sys_platform = "!= 'windows'"}
"yapic.json" = ">=1.6.3"    # fast, drop-in replacement of the built-in python.json
# --- Optional packages to speed-up Cryptofeed -----------------------------------------------
aiodns = ">=1.1"            # aiodns speeds up DNS resolving
cchardet = "*"              # cchardet is a faster replacement for chardet
# --- Optional dependencies ------------------------------------------------------------------
aiofile = ">=2.0.0"         # used by util/async_file.py
aiokafka = "*"              # pip install cryptofeed[kafka]
hiredis = "*"               # pip install cryptofeed[redis]
aioredis = ">=2.0.0a1"      # pip install cryptofeed[redis]
arctic = "*"                # pip install cryptofeed[arctic]
asyncpg = "*"               # pip install cryptofeed[postgres]
motor = "*"                 # pip install cryptofeed[mongo]
aio_pika = "*"              # pip install cryptofeed[rabbit]
pika = "*"                  # used by demo_rabbitmq.py
pyzmq = "*"                 # pip install cryptofeed[zmq]
google_cloud_pubsub = "*"   # pip install cryptofeed[gcp_pubsub]
gcloud_aio_pubsub = "*"     # pip install cryptofeed[gcp_pubsub]

[dev-packages]
isort = {extras = ["pipfile"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
#
# --- Static-code analysis -------------------------------------------------------------------
# You can enable following Pylint packages => Pylint-v2.5 requires old isort-v4
# --------------------------------------------------------------------------------------------
# pylint = "*"
# pylint-import-modules = "*"
# pylint-string-spaces-checkers = "*"
# pylint-topology = "*"
# pylint-args = "*"
# pylint_google_style_guide_imports_enforcing = "*"
# pylint-requests = "*"
# pylint-unittest = "*"
