bitmex:
    key_id: null
    key_secret: null
bitfinex:
    key_id: null
    key_secret: null
coinbase:
    key_id: null
    key_secret: null
    key_passphrase: null
poloniex:
    key_id: null
    key_secret: null
gemini:
    key_id: null
    key_secret: null
kraken:
    key_id: null
    key_secret: null
deribit:
    key_id: null
    key_secret: null